<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_dark.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_light.css') }}"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Hello {{ username }}!!!</h1>
    <label class="toggle-switch">
        <input type="checkbox" id="dark-mode-toggle">
        <span class="slider"></span>
    </label>
    <div id="data-container">

    </div>
    <div>
        <form action="{{ url_for('chat', username=username) }}" method="post">
            <label for="text">Enter Text:</label>
            <input type="text" name="text" id="text">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>